In [2]:
import pandas as pd
import numpy as np

In [3]:

customers_df = pd.read_csv(r'C:\Users\Sivanesh Kumar\Downloads\customers.csv',encoding='ISO-8859-1')
sales_df = pd.read_csv(r'C:\Users\Sivanesh Kumar\Downloads\Sales.csv',encoding='ISO-8859-1')
products_df = pd.read_csv(r'C:\Users\Sivanesh Kumar\Downloads\products.csv',encoding='ISO-8859-1')
stores_df = pd.read_csv(r'C:\Users\Sivanesh Kumar\Downloads\Stores.csv',encoding='ISO-8859-1')
exchangerates_df = pd.read_csv(r'C:\Users\Sivanesh Kumar\Downloads\exchange_rates.csv',encoding='ISO-8859-1')

In [4]:
print(customers_df.head())

   CustomerKey  Gender               Name            City State Code  \
0          301  Female      Lilly Harding  WANDEARAH EAST         SA
1          325  Female       Madison Hull      MOUNT BUDD         WA
2          554  Female      Claire Ferres       WINJALLOK        VIC
3          786    Male  Jai Poltpalingada    MIDDLE RIVER         SA
4         1042    Male    Aidan Pankhurst   TAWONGA SOUTH        VIC

               State Zip Code    Country  Continent    Birthday
0    South Australia     5523  Australia  Australia    7/3/1939
1  Western Australia     6522  Australia  Australia   9/27/1979
2           Victoria     3380  Australia  Australia   5/26/1947
3    South Australia     5223  Australia  Australia   9/17/1957
4           Victoria     3698  Australia  Australia  11/19/1965

In [5]:
print(customers_df.isnull().sum())

CustomerKey     0
Gender          0
Name            0
City            0
State Code     10
State           0
Zip Code        0
Country         0
Continent       0
Birthday        0
dtype: int64

In [6]:
customers_df.loc[:, 'State Code'] = customers_df['State Code'].fillna('Unknown')
print(customers_df['State Code'].isnull().sum())

0

In [7]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  object
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State Code   15266 non-null  object
 5   State        15266 non-null  object
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  object
dtypes: int64(1), object(9)
memory usage: 1.2+ MB

In [8]:
customers_df.describe()

        CustomerKey
count  1.526600e+04
mean   1.060508e+06
std    6.127097e+05
min    3.010000e+02
25%    5.140335e+05
50%    1.079244e+06
75%    1.593980e+06
max    2.099937e+06

In [9]:

# Convert Gender to categorical
customers_df['Gender'] = pd.Categorical(customers_df['Gender'])

# Convert State Code, City, State, Country, and Continent to categorical
customers_df['State Code'] = pd.Categorical(customers_df['State Code'])
customers_df['City'] = pd.Categorical(customers_df['City'])
customers_df['State'] = pd.Categorical(customers_df['State'])
customers_df['Country'] = pd.Categorical(customers_df['Country'])
customers_df['Continent'] = pd.Categorical(customers_df['Continent'])

# Convert Birthday to datetime
customers_df['Birthday'] = pd.to_datetime(customers_df['Birthday'], errors='coerce')

# Verify changes
print(customers_df.dtypes)
print(customers_df.info())

CustomerKey             int64
Gender               category
Name                   object
City                 category
State Code           category
State                category
Zip Code               object
Country              category
Continent            category
Birthday       datetime64[ns]
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  category
 2   Name         15266 non-null  object
 3   City         15266 non-null  category
 4   State Code   15266 non-null  category
 5   State        15266 non-null  category
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  category
 8   Continent    15266 non-null  category
 9   Birthday     15266 non-null  datetime64[ns]
dtypes: category(6), datetime64[ns](1), int64(1), object(2)
memory usage: 974.5+ KB
None

In [10]:

# Load the CSV

# Convert 'Birthday' column to the correct format
customers_df['Birthday'] = pd.to_datetime(customers_df['Birthday'], format='%m/%d/%Y').dt.strftime('%Y-%m-%d')

# Save the updated CSV
customers_df.to_csv('C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/datas/Customers_formatted.csv', index=False)

In [11]:
print(sales_df.head())
print(sales_df.columns)

   Order Number  Line Item Order Date Delivery Date  CustomerKey  StoreKey  \
0        366000          1   1/1/2016           NaN       265598        10
1        366001          1   1/1/2016     1/13/2016      1269051         0
2        366001          2   1/1/2016     1/13/2016      1269051         0
3        366002          1   1/1/2016     1/12/2016       266019         0
4        366002          2   1/1/2016     1/12/2016       266019         0

   ProductKey  Quantity Currency Code
0        1304         1           CAD
1        1048         2           USD
2        2007         1           USD
3        1106         7           CAD
4         373         1           CAD
Index(['Order Number', 'Line Item', 'Order Date', 'Delivery Date',
       'CustomerKey', 'StoreKey', 'ProductKey', 'Quantity', 'Currency Code'],
      dtype='object')

In [12]:
print(sales_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   62884 non-null  int64
 1   Line Item      62884 non-null  int64
 2   Order Date     62884 non-null  object
 3   Delivery Date  13165 non-null  object
 4   CustomerKey    62884 non-null  int64
 5   StoreKey       62884 non-null  int64
 6   ProductKey     62884 non-null  int64
 7   Quantity       62884 non-null  int64
 8   Currency Code  62884 non-null  object
dtypes: int64(6), object(3)
memory usage: 4.3+ MB
None

In [13]:
print(sales_df.describe())

       Order Number     Line Item   CustomerKey      StoreKey    ProductKey  \
count  6.288400e+04  62884.000000  6.288400e+04  62884.000000  62884.000000
mean   1.430905e+06      2.164207  1.180797e+06     31.802144   1125.859344
std    4.532963e+05      1.365170  5.859634e+05     22.978188    709.244010
min    3.660000e+05      1.000000  3.010000e+02      0.000000      1.000000
25%    1.121017e+06      1.000000  6.808580e+05      8.000000    437.000000
50%    1.498016e+06      2.000000  1.261200e+06     37.000000   1358.000000
75%    1.788010e+06      3.000000  1.686496e+06     53.000000   1650.000000
max    2.243032e+06      7.000000  2.099937e+06     66.000000   2517.000000

           Quantity
count  62884.000000
mean       3.144790
std        2.256371
min        1.000000
25%        1.000000
50%        2.000000
75%        4.000000
max       10.000000

In [14]:
print(sales_df.describe())

       Order Number     Line Item   CustomerKey      StoreKey    ProductKey  \
count  6.288400e+04  62884.000000  6.288400e+04  62884.000000  62884.000000
mean   1.430905e+06      2.164207  1.180797e+06     31.802144   1125.859344
std    4.532963e+05      1.365170  5.859634e+05     22.978188    709.244010
min    3.660000e+05      1.000000  3.010000e+02      0.000000      1.000000
25%    1.121017e+06      1.000000  6.808580e+05      8.000000    437.000000
50%    1.498016e+06      2.000000  1.261200e+06     37.000000   1358.000000
75%    1.788010e+06      3.000000  1.686496e+06     53.000000   1650.000000
max    2.243032e+06      7.000000  2.099937e+06     66.000000   2517.000000

           Quantity
count  62884.000000
mean       3.144790
std        2.256371
min        1.000000
25%        1.000000
50%        2.000000
75%        4.000000
max       10.000000

In [15]:
print(sales_df.isnull().sum())

Order Number         0
Line Item            0
Order Date           0
Delivery Date    49719
CustomerKey          0
StoreKey             0
ProductKey           0
Quantity             0
Currency Code        0
dtype: int64

In [16]:
# Strip spaces from all column names
sales_df.columns = sales_df.columns.str.strip()

# Now check if 'Delivery Date' exists
if 'Delivery Date' in sales_df.columns:
    print("'Delivery Date' column exists.")
else:
    print("No 'Delivery Date' column found. Check for similar names:", sales_df.columns)

'Delivery Date' column exists.

In [17]:
if 'Delivery Date' in sales_df.columns:
    sales_df.drop('Delivery Date', axis=1, inplace=True)
    print("'Delivery Date' column dropped successfully.")
else:
    print("'Delivery Date' column not found.")
sales_df['Currency Code'] = pd.Categorical(sales_df['Currency Code'])

'Delivery Date' column dropped successfully.

In [18]:
sales_df['Order Date'] = pd.to_datetime(sales_df['Order Date'], errors='coerce')
print(sales_df['Order Date'].isnull().sum())  # Check how many missing values
sales_df['Order Date'] = sales_df['Order Date'].fillna(pd.Timestamp('2023-01-01'))  # Fill with a default date
print(sales_df.info())

0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   62884 non-null  int64
 1   Line Item      62884 non-null  int64
 2   Order Date     62884 non-null  datetime64[ns]
 3   CustomerKey    62884 non-null  int64
 4   StoreKey       62884 non-null  int64
 5   ProductKey     62884 non-null  int64
 6   Quantity       62884 non-null  int64
 7   Currency Code  62884 non-null  category
dtypes: category(1), datetime64[ns](1), int64(6)
memory usage: 3.4 MB
None

In [19]:
sales_df.to_csv('C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/datas/sales_formatted.csv', index=False)

In [20]:
print(sales_df.isnull().sum())

Order Number     0
Line Item        0
Order Date       0
CustomerKey      0
StoreKey         0
ProductKey       0
Quantity         0
Currency Code    0
dtype: int64

In [21]:
print(products_df.head())

   ProductKey                         Product Name    Brand   Color  \
0           1  Contoso 512MB MP3 Player E51 Silver  Contoso  Silver
1           2    Contoso 512MB MP3 Player E51 Blue  Contoso    Blue
2           3     Contoso 1G MP3 Player E100 White  Contoso   White
3           4    Contoso 2G MP3 Player E200 Silver  Contoso  Silver
4           5       Contoso 2G MP3 Player E200 Red  Contoso     Red

  Unit Cost USD Unit Price USD  SubcategoryKey Subcategory  CategoryKey  \
0        $6.62         $12.99              101     MP4&MP3            1
1        $6.62         $12.99              101     MP4&MP3            1
2        $7.40         $14.52              101     MP4&MP3            1
3       $11.00         $21.57              101     MP4&MP3            1
4       $11.00         $21.57              101     MP4&MP3            1

  Category
0    Audio
1    Audio
2    Audio
3    Audio
4    Audio

In [22]:
print(products_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   object
 5   Unit Price USD  2517 non-null   object
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: int64(3), object(7)
memory usage: 196.8+ KB
None

In [23]:
print(products_df.columns)

Index(['ProductKey', 'Product Name', 'Brand', 'Color', 'Unit Cost USD',
       'Unit Price USD', 'SubcategoryKey', 'Subcategory', 'CategoryKey',
       'Category'],
      dtype='object')

In [24]:
print(products_df.describe())

        ProductKey  SubcategoryKey  CategoryKey
count  2517.000000     2517.000000  2517.000000
mean   1259.000000      491.810091     4.878824
std     726.739637      229.887134     2.299170
min       1.000000      101.000000     1.000000
25%     630.000000      305.000000     3.000000
50%    1259.000000      406.000000     4.000000
75%    1888.000000      801.000000     8.000000
max    2517.000000      808.000000     8.000000

In [25]:
print(products_df.isnull().sum())

ProductKey        0
Product Name      0
Brand             0
Color             0
Unit Cost USD     0
Unit Price USD    0
SubcategoryKey    0
Subcategory       0
CategoryKey       0
Category          0
dtype: int64

In [26]:
products_df['Unit Cost USD'] = products_df['Unit Cost USD'].replace('[/$,]', '', regex=True).astype(float)
products_df['Unit Price USD'] = products_df['Unit Price USD'].replace('[/$,]', '', regex=True).astype(float)

In [27]:
print(products_df.info())
products_df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   float64
 5   Unit Price USD  2517 non-null   float64
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 196.8+ KB
None

ProductKey          int64
Product Name       object
Brand              object
Color              object
Unit Cost USD     float64
Unit Price USD    float64
SubcategoryKey      int64
Subcategory        object
CategoryKey         int64
Category           object
dtype: object

In [28]:
print(stores_df.head())

   StoreKey    Country                         State  Square Meters  Open Date
0         1  Australia  Australian Capital Territory          595.0   1/1/2008
1         2  Australia            Northern Territory          665.0  1/12/2008
2         3  Australia               South Australia         2000.0   1/7/2012
3         4  Australia                      Tasmania         2000.0   1/1/2010
4         5  Australia                      Victoria         2000.0  12/9/2015

In [29]:
print(stores_df.isnull().sum())

StoreKey         0
Country          0
State            0
Square Meters    1
Open Date        0
dtype: int64

In [30]:

# Cast the 'Square Meters' column to a string type, then fill missing values
stores_df['Square Meters'] = stores_df['Square Meters'].astype(str).fillna('Unknown')
# Fill missing values with 0 or another appropriate numeric value
stores_df['Square Meters'] = stores_df['Square Meters'].fillna(0)

print(stores_df['Square Meters'].isnull().sum())

0

In [31]:
print(stores_df.describe())

        StoreKey
count  67.000000
mean   33.000000
std    19.485037
min     0.000000
25%    16.500000
50%    33.000000
75%    49.500000
max    66.000000

In [32]:
print(stores_df.info())
print(stores_df.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       67 non-null     int64
 1   Country        67 non-null     object
 2   State          67 non-null     object
 3   Square Meters  67 non-null     object
 4   Open Date      67 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.7+ KB
None
StoreKey          int64
Country          object
State            object
Square Meters    object
Open Date        object
dtype: object

In [33]:

print(stores_df.columns)

Index(['StoreKey', 'Country', 'State', 'Square Meters', 'Open Date'], dtype='object')

In [34]:
print(exchangerates_df.head())

         Date Currency Code  Exchange
0  01-01-2015           USD    1.0000
1  01-01-2015           CAD    1.1583
2  01-01-2015           AUD    1.2214
3  01-01-2015           EUR    0.8237
4  01-01-2015           GBP    0.6415

In [35]:
print(exchangerates_df.isnull().sum())

Date             0
Currency Code    0
Exchange         0
dtype: int64

In [36]:
print(exchangerates_df.describe())

           Exchange
count  11215.000000
mean       1.061682
std        0.245519
min        0.628500
25%        0.857800
50%        1.000000
75%        1.311900
max        1.725300

In [37]:
exchangerates_df['Date'] = pd.to_datetime(exchangerates_df['Date'], format='%m/%d/%Y', errors='coerce')

In [38]:
print(exchangerates_df.info())
print(exchangerates_df.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           6775 non-null   datetime64[ns]
 1   Currency Code  11215 non-null  object
 2   Exchange       11215 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 263.0+ KB
None
Date             datetime64[ns]
Currency Code            object
Exchange                float64
dtype: object

In [39]:
# Check for duplicates
print(customers_df.duplicated().sum())
print(sales_df.duplicated().sum())
print(stores_df.duplicated().sum())
print(products_df.duplicated().sum())
print(exchangerates_df.duplicated().sum())

0
0
0
0
2363

In [40]:
#MERGING DATASETS

In [41]:
# Select specific columns from customer_df to include
merged_df = pd.merge(sales_df, customers_df[['CustomerKey', 'Name', 'Gender']], on='CustomerKey', how='left')
merged_df = pd.merge(merged_df, products_df[['ProductKey', 'Product Name', 'Brand', 'Category']], on='ProductKey', how='left')
merged_df = pd.merge(merged_df, stores_df[['StoreKey', 'Country', 'State', 'Square Meters']], on='StoreKey', how='left')

In [42]:
merged_df

,Order Number,Line Item,Order Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code,Name,Gender,Product Name,Brand,Category,Country,State,Square Meters
0,366000,1,2016-01-01,265598,10,1304,1,CAD,Tyler Vaught,Male,Contoso Lens Adapter M450 White,Contoso,Cameras and camcorders,Canada,Nunavut,1210.0
1,366001,1,2016-01-01,1269051,0,1048,2,USD,Frank Upchurch,Male,A. Datum SLR Camera X136 Silver,A. Datum,Cameras and camcorders,Online,Online,nan
2,366001,2,2016-01-01,1269051,0,2007,1,USD,Frank Upchurch,Male,Fabrikam Microwave 1.5CuFt X1100 Black,Fabrikam,Home Appliances,Online,Online,nan
3,366002,1,2016-01-01,266019,0,1106,7,CAD,Joan Roche,Female,Contoso SLR Camera M146 Orange,Contoso,Cameras and camcorders,Online,Online,nan
4,366002,2,2016-01-01,266019,0,373,1,CAD,Joan Roche,Female,Adventure Works Laptop8.9 E0890 White,Adventure Works,Computers,Online,Online,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62879,2243030,1,2021-02-20,1216913,43,632,3,USD,Donald Woodie,Male,WWI Screen 85in E1010 White,Wide World Importers,Computers,United States,Alaska,1190.0
62880,2243031,1,2021-02-20,511229,0,98,4,EUR,Gabriele Thalberg,Female,WWI Wireless Bluetooth Stereo Headphones M170 ...,Wide World Importers,Audio,Online,Online,nan
62881,2243032,1,2021-02-20,331277,0,1613,2,CAD,William Rochelle,Male,SV DVD 7-Inch Player Portable E200 White,Southridge Video,"Music, Movies and Audio Books",Online,Online,nan
62882,2243032,2,2021-02-20,331277,0,1717,2,CAD,William Rochelle,Male,MGS Flight Simulator X M250,Tailspin Toys,Games and Toys,Online,Online,nan
62883,2243032,3,2021-02-20,331277,0,464,7,CAD,William Rochelle,Male,Proseware LCD22W M2001 Black,Proseware,Computers,Online,Online,nan

In [43]:
print(merged_df.head())
print(merged_df.info())

   Order Number  Line Item Order Date  CustomerKey  StoreKey  ProductKey  \
0        366000          1 2016-01-01       265598        10        1304
1        366001          1 2016-01-01      1269051         0        1048
2        366001          2 2016-01-01      1269051         0        2007
3        366002          1 2016-01-01       266019         0        1106
4        366002          2 2016-01-01       266019         0         373

   Quantity Currency Code            Name  Gender  \
0         1           CAD    Tyler Vaught    Male
1         2           USD  Frank Upchurch    Male
2         1           USD  Frank Upchurch    Male
3         7           CAD      Joan Roche  Female
4         1           CAD      Joan Roche  Female

                             Product Name            Brand  \
0         Contoso Lens Adapter M450 White          Contoso
1         A. Datum SLR Camera X136 Silver         A. Datum
2  Fabrikam Microwave 1.5CuFt X1100 Black         Fabrikam
3          Contoso SLR Camera M146 Orange          Contoso
4   Adventure Works Laptop8.9 E0890 White  Adventure Works

                 Category Country    State Square Meters
0  Cameras and camcorders  Canada  Nunavut        1210.0
1  Cameras and camcorders  Online   Online           nan
2         Home Appliances  Online   Online           nan
3  Cameras and camcorders  Online   Online           nan
4               Computers  Online   Online           nan
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   62884 non-null  int64
 1   Line Item      62884 non-null  int64
 2   Order Date     62884 non-null  datetime64[ns]
 3   CustomerKey    62884 non-null  int64
 4   StoreKey       62884 non-null  int64
 5   ProductKey     62884 non-null  int64
 6   Quantity       62884 non-null  int64
 7   Currency Code  62884 non-null  category
 8   Name           62884 non-null  object
 9   Gender         62884 non-null  category
 10  Product Name   62884 non-null  object
 11  Brand          62884 non-null  object
 12  Category       62884 non-null  object
 13  Country        62884 non-null  object
 14  State          62884 non-null  object
 15  Square Meters  62884 non-null  object
dtypes: category(2), datetime64[ns](1), int64(6), object(7)
memory usage: 6.8+ MB
None

In [44]:
print(merged_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   62884 non-null  int64
 1   Line Item      62884 non-null  int64
 2   Order Date     62884 non-null  datetime64[ns]
 3   CustomerKey    62884 non-null  int64
 4   StoreKey       62884 non-null  int64
 5   ProductKey     62884 non-null  int64
 6   Quantity       62884 non-null  int64
 7   Currency Code  62884 non-null  category
 8   Name           62884 non-null  object
 9   Gender         62884 non-null  category
 10  Product Name   62884 non-null  object
 11  Brand          62884 non-null  object
 12  Category       62884 non-null  object
 13  Country        62884 non-null  object
 14  State          62884 non-null  object
 15  Square Meters  62884 non-null  object
dtypes: category(2), datetime64[ns](1), int64(6), object(7)
memory usage: 6.8+ MB
None

In [45]:
print(merged_df.dtypes)

Order Number              int64
Line Item                 int64
Order Date       datetime64[ns]
CustomerKey               int64
StoreKey                  int64
ProductKey                int64
Quantity                  int64
Currency Code          category
Name                     object
Gender                 category
Product Name             object
Brand                    object
Category                 object
Country                  object
State                    object
Square Meters            object
dtype: object

In [47]:
merged_df.to_csv("merged.csv")

In [49]:

print('merged.csv')
merged_df.to_csv('C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/datas/merged.csv', index=False)

merged.csv

In [79]:
merged_df.to_csv(r"C:\Users\Sivanesh Kumar\Desktop\merged.csv", index=False)

In [80]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [81]:
host = "localhost"
port = "3306"
username = "root"
password = "1234"
database = "electronicDB"

In [82]:



engine_string = f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}"
engine = create_engine(engine_string)

In [83]:
table_name = "merged_df"
merged_df.to_sql(table_name, engine,if_exists='replace',index=False)
print(f"successfully imported {table_name} to sql")

successfully imported merged_df to sql

In [84]:
table_name = "customers_df"
customers_df.to_sql(table_name, engine,if_exists='replace',index=False)
print(f"successfully imported {table_name} to sql")

successfully imported customers_df to sql

In [85]:
table_name = "products_df"
products_df.to_sql(table_name, engine,if_exists='replace',index=False)
print(f"successfully imported {table_name} to sql")

successfully imported products_df to sql

In [86]:
table_name = "stores_df"
stores_df.to_sql(table_name, engine,if_exists='replace',index=False)
print(f"successfully imported {table_name} to sql")

successfully imported stores_df to sql

In [87]:
table_name = "exchangerates_df"
exchangerates_df.to_sql(table_name, engine,if_exists='replace',index=False)
print(f"successfully imported {table_name} to sql")

successfully imported exchangerates_df to sql

In [88]:
table_name = "sales_df"
sales_df.to_sql(table_name, engine,if_exists='replace',index=False)
print(f"successfully imported {table_name} to sql")

successfully imported sales_df to sql